<div class="row">
<% @recipes.each do |recipe| %>
      <div class="col s12 m4 l3">
        <div class="card-recipe">
          <h4><%= recipe.name %></h4>
          <p><%= recipe.description %></p>
          <span class="card-recipe-chefname"><i class="material-icons">perm_identity</i><%= recipe.chef.chefname %></span>
          <span class="card-recipe-date"><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
          <%= link_to recipe_path(recipe), { class: "waves-effect waves-light btn-flat right card-recipe-more" } do %>
              More
          <% end %>
        </div>
      </div>
<% end %>
</div>
