<div id="recipe-title-background">
  <div class="row">
        <div class="col s12 l12 m12">
            <div class="hero-table hero-table-middle">
                <div class="hero-recipe">
                      <h1><%= @recipe.name %></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recipe-info">
  <div class="row">
    <div class="col s12 l6 m6">
      <h2>About this recipe</h2>
      <div class="line-green"></div>
      <%= @recipe.description %>
    </div>
    <div class="col s12 l6 m6">
      <h2>Created by</h2>
      <div class="line-green"></div>
      <h2 class="green-title"><%= @recipe.chef.chefname %></h2>
      <%= time_ago_in_words(@recipe.created_at) %> ago
    </div>
  </div>
</div>
