<div id="hero-background">
  <div class="row">
        <div class="col s12 l6 m12">
        <div class="hero-table">
                  <div class="hero">
                  <h1>The best place
                    to share repices</h1></div>
        </div>
          </div>
        <div class="col s12 l6 m12">


                    <div class="card">
                      <div class="card-content">
                        <span class="card-title">SIGN UP NOW</span>
                        <form>
                        <div class="row">
                         <div class="input-field col s12">
                           <input id="chef_name" type="text" class="validate">
                           <label for="chef_name">Chef name</label>
                         </div>
                         <div class="input-field col s12">
                           <input id="email" type="text" class="validate">
                           <label for="email">Email</label>
                         </div>
                         <div class="input-field col s12">
                           <input id="password" type="text" class="validate">
                           <label for="password">Password</label>
                         </div>
                         <div class="input-field col s12">
                           <input id="repeat_password" type="text" class="validate">
                           <label for="repeat_password">Repeat Password</label>
                         </div>
                       </div>
                     </form>


                      </div>
                      <div class="card-action">
                              <button class="btn waves-effect waves-light" type="submit" name="action">Create<i class="material-icons right">send</i></button>
                      </div>
                    </div>
        </div>
    </div>
</div>

<%= render 'shared/recipes'%>

  <div id="modallogin" class="modal">
    <div class="modal-content">
      <form>
      <div class="row">
       <div class="input-field col s12">
         <input id="email" type="text" class="validate">
         <label for="email">Email</label>
       </div>
       <div class="input-field col s12">
         <input id="password" type="text" class="validate">
         <label for="password">Password</label>
       </div>
         <button class="btn waves-effect waves-light" type="submit" name="action">Sign in<i class="material-icons right">send</i></button>
     </div>
   </form>
    </div>
  </div>

  <footer>
    &copy; <%= Date.today.year %> Albo Studio
  </footer>
