/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize/components/color";
  $primary-color: color("teal", "lighten-2") !default;
  $secondary-color: color("teal accent-3", "teal accent-4") !default;
 @import "materialize";
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";
#hero-background{
  background-image: asset-url('recipes_background.jpg');
}

#recipe-title-background{
  background-image: asset-url('recipe_title_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
