p{
  line-height: 28px;
}



.nav-logo{
  margin-left: 25px;
  margin-top: 20px;
}

#hero-background{
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 640px;
}

.hero-table{
 display: table;
 min-height: 550px;
 width: 100%;
 text-align: center;
}

.hero-table-middle{
  min-height: 300px;
}

.hero, .hero-recipe{
 display:table-cell;
 vertical-align: middle;
}

.hero-recipe h1{
  padding: 25px;
  margin: 25px auto;
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  text-shadow: 5px 5px 2px #323232;
  width: 75%;
}

.hero h1{
   padding: 25px;
   background-color: rgba(255,255,255,0.3);
   border: 1px solid white;
   margin: 25px auto;
   text-align: center;
   font-size: 4rem;
   color: white;
   font-weight: 400;
   text-shadow: 5px 5px 2px #323232;
   width: 90%;
}

.card-recipe{
 transition: box-shadow .25s;
 margin: 0.5rem 0 1rem 0;
 border-radius: 2px;
 background-color: #fff;
 border: 1px solid #ececec;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
 padding-bottom: 24px;
}

.card-recipe-chefname{
  font-size: 1.1rem;
  line-height: 24px;
  margin: 0 24px;
}

.card-recipe::after{
  content: '';
   display: block;
   clear: both;
}

.card-recipe-chefname i{
  font-size: inherit;
  line-height: inherit;
}

.card-recipe-more{
  margin-right: 24px;
}

.card-recipe-date{
  display: block;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 5px;
}

.card-recipe h4{
 font-size: 24px;
 color: #009688;
 margin: 10px 24px;
}

.card-recipe p{
  margin: 24px;
  font-weight: 300;
}

.line-green{
  width: 100%;
  height: 2px;
  background-color: #C3C3C3;
  border-left: solid 12vw #009688;
  margin-bottom: 15px;
}

.line-green::after{
  content: '';
}

#recipe-info h2{
  font-size: 2rem;
  margin-bottom: 10px;
}

.green-title{
  font-size: 24px;
  color: #009688;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 .hero-table{
   min-height: 250px;
 }
}
