<nav >
  <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo"><%= image_tag("recipes_logo.svg", :alt => "recipes logo", :height => '50%', :width => '50%', :class => 'nav-logo') %></a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Chefs</a></li>
          <li><a href="badges.html">Recipes</a></li>
          <li><a href="collapsible.html">Ingredients</a></li>
          <li><a href="#" data-target="modallogin" >Sign In</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="sass.html">Chefs</a></li>
          <li><a href="badges.html">Recipes</a></li>
          <li><a href="collapsible.html">Ingredients</a></li>
          <li><a href="mobile.html">Sign In</a></li>
        </ul>
      </div>
 </nav>
